*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    background-color: #f7f7f7;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}
img{
    padding: 10px;
}
.calculator-body{
    margin-inline: auto;
    margin-top: 50px;  
    /* width: clamp(40%,75rem,50%); */
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.calculator-heading{
    font-size: 2.125rem;
    margin-bottom: 20px;
}
.birthdate{
    font-weight: bold;
    margin-bottom: 10px;
}
#calculator-input{
    padding: 10px;
    border-radius: 5px ;
    outline: none;
    border: 1px solid #ccc;
    max-width: 300px;
    width: 100%;
}
#calculator-input:focus{
    outline: 2px solid red;
}
.calculator-btn{
    padding-block: 10px;
    padding-inline: 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    margin-bottom: 1.75rem;
}
#calculator-result{
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 20px;
}